.header{
    color: red;
    background-color: lightgray;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
ul, .border-black{
    color:blue;
    background-color: lightgray;

}
.border-black{
    border-style: solid;
    border-color: black;
}
body{
    background-color: grey;
    padding: 10px;
    margin: auto;
    
}
nav{
    display: block;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 20px;
    background-color: lightgray;
    border: lightgray solid;
    padding: 1.5rem;
}
nav > a {
    padding: 10vw;
}
article {
    background-color: lightgray;
}

.flexP {
    display: flex;
    flex-wrap: wrap;
    
}

article > section {
    /* width: calc(100vw/3); */
    padding: 1.5rem;
    background-color: mintcream;
    margin: 1rem;
    border: mintcream solid;
    border-radius: 25px;
    font-size: 1.5vh;
} 

header{grid-area: head;}
nav{grid-area: nav;}
main{grid-area: main;}
aside{grid-area:aside;}

body{
    display: grid;
    grid-template-areas: "head head"
                        "nav nav"
                        "aside aside"
                        "main main";
}